{
   "path_to_file": "{{path_to_file}}",
   "nokia":{  
      "api_key":"{{nokia_api_key}}",
      "api_token":"{{nokia_api_token}}",
      "api_signature":"{{nokia_api_signature}}",
      "callback":"{{nokia_callback}}",
      "user_id":"{{nokia_user_id}}"
   },
   "fitbit":{  
      "client_id":"{{fitbit_client_id}}",
      "api_secret":"{{fitbit_api_secret}}",
      "access_token":"{{fitbit_access_token}}",
      "refresh_token":"{{fitbit_refresh_token}}",
      "callback":"{{fitbit_callback}}"
   },
  "facebook": {
    "page_id": "{{facebook_id}}",
    "sender_id": "{{facebook_sender_id}}"
  }
}