{
   "path_to_file": "{{path_to_file}}",
   "nokia":{  
      "access_token":"{{nokia_access_token}}",
      "refresh_token":"{{nokia_refresh_token}}",
      "client_id":"{{nokia_client_id}}",
      "client_secret": "{{nokia_client_secret}}"
   },
   "fitbit":{  
      "client_id":"{{fitbit_client_id}}",
      "api_secret":"{{fitbit_api_secret}}",
      "access_token":"{{fitbit_access_token}}",
      "refresh_token":"{{fitbit_refresh_token}}",
      "callback":"{{fitbit_callback}}"
   },
  "facebook": {
    "page_id": "{{facebook_id}}",
    "sender_id": "{{facebook_sender_id}}"
  }
}